.home {
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 0.5rem;
  }
}
