.nav-bar {
  text-align: center;
  padding: 1rem 2rem;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 121, 121, 0.8281906512605042) 48%,
    rgba(0, 212, 255, 1) 100%
  );

  .title {
    font-size: 48px;
    text-shadow: 4px 4px 4px rgb(84, 82, 82);
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
  }
}

.nav-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    padding: 1rem 0;
  }
}
